* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

img {
  max-width: 100%;
}

ul li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  line-height: 24px;
}
